body {
    margin: 0px;
}

h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.5;
}

h3 {
    font-family:'Inconsolata', monospace;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2;
}

p {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5;
}

a {
    color: black;
    font-family: 'Montserrat';
    font-weight: 300;
}

header {
    background-color: mintcream;
    padding: 0% 10%;
    z-index: 10;
    width: 100%;
    height: 15%;
}

.navbar-nav {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: center;
    margin-top: 0rem;
}

.logo {
    max-width: 400px;
    width: 14rem;
    padding-left: 10%;
    min-width: 100px;
}

.logo-lg {
    max-width: 400px;
    width: 30rem;
    padding-left: 10%;
    min-width: 100px;
    padding-top: 2%;
}

.menu-items {
    margin-top: 1rem;
    margin-left: 37%;
}

.navbar-item {
    padding: 0 1rem;
    display: inline;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #161616;
}

.btn {
    margin-left: 6rem;
    margin-bottom: 4rem;
    position: fixed;
    padding: 0 5px;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
    background-color: mintcream;
}

.dropbtn {
    background-color: #c2e5d3;
    color: #161616;
    padding: 10px 16px;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 300;
    border: solid 2px #96CAEF;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c2e5d3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #9ee6c1;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #9ee6c1;}

#dropitem1 {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: none;
    min-width: 160px;
}

#dropitem2 {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: none;
    min-width: 160px;
}

#dropitem3 {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: none;
    min-width: 160px;
}

footer {
    background-color: white;
    padding: 30px 1px;
}

.foot {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: center;
}

.logo-small {
    max-width: 16rem;
    width: 100%;
    padding-left: 10%;
}

.hours {
    margin-left: 15%;
}

.location {
    margin-left: 10%;
}

.quick-contact {
    margin-left: 10%;
}

.welcome {
  color: mintcream;
}

.foot-item {
    font-size: .8rem;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #161616;
}

.foot-item-first {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
}

.icons {
    margin-bottom: 1rem;
    color: #aaf0d1;
}

.icons:hover{
    color: #3eb489;
}


#content {
    min-height: 100vh;
}


#slide img {
    max-width: 750px;
}
#gallery {
    background-color: #aaf0d1;
    border-radius: 3px;
    font-size: 5rem;
    text-align: center;
    padding: 5% 5%;
}

#gal {
    transform: rotate(-5deg);
    margin-right: 60%;
    color: #3DD1E7;
}

#title {
    background-color: #aaf0d1;
    text-align: center;
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: normal;
    padding: 9% 11%;
}


.foundation {
    text-align: left;
    padding-bottom: 3%;
}

#features {
    padding: 7% 15%;
    text-align: center;
}

#about {
    padding: 4% 10%;
    text-align: left;
}


.feature {
    font-family: 'Montserrat';
    font-weight: 700;
    font-weight: 1.5rem;
}

.description {
    color: #8f8f8f;
    padding: 0 10%;
}

.test-row {
    text-align: center;
    margin: 10px 8%;
    padding: 5% 3%;
}

hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    border-color: pink;
    width: 10%;
    margin: 100px auto;
}

.julian {
    width: 14rem;
    margin: 40px 10px;
    border-radius: 50%;
    float: left;
    padding-right: 40px;

}

.tony {
    width: 14rem;
    padding-left: 3rem;
    margin: 40px auto;
    border-radius: 50%;
    float: right;

}

#testimonials {
    color: white;
    background-color: #3eb489;
    text-align: center;
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: normal;
    padding: 6% 11%;
}

@media screen and (max-width: 1400px) {
    #navitem3 {
        display: none;
    }

    #dropitem3 {
        display: inline-block;
    }
}

@media screen and (max-width: 1340px) {
    #navitem2 {
        display: none;
    }
    .menu-items {
      margin-left: 35%;
    }

    #dropitem2 {
        display: inline-block;
    }

    .foot-item {
        font-size: .6rem;
    }
    
    .quick-contact {
        margin-right: 10%;
    }
}

@media screen and (max-width: 1050px) {
  
    .hours{
        margin-left: 0%;
    }

    header {
        height: 7%
    }

    #navitem1 {
        display: none;
    }

    #dropitem1 {
        display: inline-block;
    }

    .menu-items {
        margin-left: 45%;
    }

    .navbar-item {
        font-size: .8rem;
    }

    .dropbtn {
        font-size: .8rem;
    }

    .dropdown-content {
        right: 0%;
    }

    .foot {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .logo-lg {
      width: 20rem;
    }

    
    .logo {
      width: 12rem;
    }

    .logo-small {
        max-width: 100px;
        width: 85%;
        padding-left: 0%;
        padding-right: 3%;
    }


    .location {
        margin-left: 0%;
    }
    
    .quick-contact {
        margin-right: 0%;
        margin-left: 0%;
    }

    .helpicon {
      max-width: 50px;
    }

  #slide img {
    max-width: 80%;
  }

  .button50 {
    max-width: 3rem;
  }
}

@media screen and (max-width: 700px) {
    .logo-lg {
      width: 14rem;
    }
    h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
    .menu-items{
        margin-left: 30%;
    }

    .logo {
        width: 10rem;
    }
    
    .icons {
        font-size: 4rem;
    }
    .tony {
    width: 100px;
  }
  .julian {
    width: 100px;
  }

  .button-50 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
    .menu-items{
        margin-left: 18%;
    }
}

/* CSS for button*/
.button50 {
    max-width: 5rem;
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button50:focus {
  outline: 0;
}

.button50:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button50:hover:after {
  bottom: 2px;
  left: 2px;
}
